[zero_trader]

flow_path = ./traderflow/

# zeusing
front_address = tcp://172.31.0.1:44505
broker_id = 1000
user_id = 100103362
password = 123456
investor_id = 100103362
is_auth_force = true
user_product_info = atz
auth_code = ERO4I5AT70XSWRT5


